* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --section-bg-color-white: rgb(245, 245, 245);
    --section-bg-color-black: #141414;
    --section-bg-color-red: #840707;
}

html {

    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;

    /* scroll efect */

    scroll-behavior: smooth;

}


/* Inicio del header */

header {

    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 9.8vh;
    background-color: rgba(245, 245, 245);
    z-index: 100;
    opacity: 1;

}
.nav--desktop {

    display: none;

}
.header--logo_phone {
    
    position: absolute;
    right: calc(50% - 73px);
    top: -5px;
    width: 140px;
    z-index: 10;

}
#Capa_1 {

    transform: scale(1.3);
    position: absolute;
    top: 16px;

}
.header--logo_desktop {

    display: none;

}


/* Inicio burgerButton */

.header--burgerButton {

    width: 35px;
    height: 35px;
    margin-right: 10px;

}
.header-burgerButton--item {

    display: none;
    

}
.burgerButton--lbl {
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid var(--section-bg-color-black);
    border-radius: 6px;
    z-index: 100;
    
    /* efecto de sombra */

    box-shadow: 3px 3px 3px 0px rgba(20,20,20,0.6);
    
}
.burgerButton--line {

    position: absolute;
    width: 70%;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--section-bg-color-black);
    

}

/* Efecto en Y en burgerButton */

.burgerButton--lbl .line--top {

    transform:translateY(5px);
    animation: movimientoY 250ms linear;

}
.burgerButton--lbl .line--bottom {

    transform:translateY(-5px);
    animation: movimiento-Y 250ms linear;

}

/* Efecto de X en burgerButton */

.header-burgerButton--item:checked ~ .burgerButton--lbl {

    border: 1px solid var(--section-bg-color-white);

}

.header-burgerButton--item:checked ~ .burgerButton--lbl .burgerButton--line {
    
    margin: 0;

}
.header-burgerButton--item:checked ~ .burgerButton--lbl .line--top {

    transform: rotate(140deg);
    background-color: var(--section-bg-color-white);
    position: absolute;
    animation: movimientoX 1s linear ;

}
.header-burgerButton--item:checked ~ .burgerButton--lbl .line--middle {
    display: none;
}
.header-burgerButton--item:checked ~  .burgerButton--lbl .line--bottom {

    transform: rotate(-140deg);
    background-color: var(--section-bg-color-white);
    animation: movimiento-X 1s linear ;

}

@keyframes movimientoX {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(140deg);
    }
}
@keyframes movimiento-X {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-140deg);
    }
}
@keyframes movimientoY {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(5px);
    }
}
@keyframes movimiento-Y {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

/* Fin animaciones del burgerButton */

/* Inicio del nav en dispositivos moviles y tablets */
.burgerButton--nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -100vh;
    transition: all .9s;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, var(--section-bg-color-black) 30%, var(--section-bg-color-red) 100%);
    z-index: 100;
    overflow: hidden;
}

.burgerButton--nav ul {

    list-style: none;

}

.burgerButton-nav--row {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #570505;

    /* Efecto de sombra */

    box-shadow: 1px 1px 10px var(--section-bg-color-red);

}
.burgerButton-nav--enlace {

    width: 100%;
    height: 100%;
    text-decoration: none;

}

.burgerButton-nav-row--item {

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: auto;

}
.burgerButton-nav-row--item p {

    font-weight: 600;
    line-height: 2rem;
    font-size: 1.8rem;
    color: var(--section-bg-color-white);
}

.burgerButton-nav-logo--container {
    
    width: 70%;
    max-width: 250px;
    margin: auto 0px;

}

/* Inicio animacion */

.header-burgerButton--item:checked ~ .burgerButton--nav {
    top: 0;
    transition: all .9s;
}

/* Fin de la animación */
/* Fin del nav */

/* Inicio de del main */

main {

    width: 100vw;
    height: fit-content;

}

.section--inicio {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9;

}
.section-inicio--bg {

    position: absolute;
    background-image: linear-gradient(120deg, var(--section-bg-color-black) 60%, var(--section-bg-color-red) 100%);
    width: 2500px;
    height: 2500px;
    z-index: 0;
    animation: rotacionBg 4s ease infinite alternate-reverse;
    top: -30vh;

}
@keyframes rotacionBg {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
.section-inicio--foto_container {

    position: relative;
    width: 250px;
    height: 250px;
    background-image: url("https://live.staticflickr.com/65535/51716457036_46bccc640b.jpg");
    background-position: center;
    background-size: cover;
    border: 2px solid #FFF;
    border-radius: 100%;
    margin-top: 15vh;
    z-index: 9;

}
.section-inicio--descript_container {

    margin-top: 20px;
    z-index: 9;

}
.section-inicio-descript--title {
    
    text-align: center;
    font-size: 2.5rem;
    color: var(--section-bg-color-white);
    z-index: 9;
    

}
.section-inicio-descript--subtitle {

    color: var(--section-bg-color-white);
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    z-index: 9;

}
.section-inicio-descript--line {

    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: var(--section-bg-color-white);
    animation: lineaInicio 4s infinite alternate-reverse;
}
@keyframes lineaInicio {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.section-inicio-descript--slogan {

    color: var(--section-bg-color-white);
    font-size: 1.8rem;
    padding-top: 10px;
    font-weight: lighter;
    line-height: 2rem;
    text-align: center;
    z-index: 9;

}

/* Inicio de la segunda seccion */

.section--quienSoy {

    
    width: 100vw;
    min-height: 100vh;
    max-height: 180.4vh;
    background-color: var(--section-bg-color-white);
    overflow: hidden;
    

}
.section--quienSoy_container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.section-quienSoy--bg_img {

    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2021/11/04/06/24/ai-6767497_960_720.jpg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover 125%;
    background-repeat: no-repeat;
    z-index: 1;
    animation: movimientoImagen1 15s infinite linear alternate;

    /* Efecto Sombra */

    box-shadow: 0px 3px 10px rgba(20, 20, 20, 0.6);

}
@keyframes movimientoImagen1 {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}
.section-quienSoy--bg_img .efecto-sombra {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-bg-color-black);
    opacity: 0.8;
    z-index: 2;
    top: 0;
    

}
.section-quienSoy--title_container {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    z-index: 9;
    
}
.section-quienSoy--title {

    
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    color: #FFF;
    z-index: 9;
    

}
.section-quienSoy--info_container {

    position: relative;
    width: 100vw;
    height: 90.2vh;
    background-color: var(--section-bg-color-black);
    z-index: 10;

}

.section-quienSoy-info--card {

    position: relative;
    width: 100vw;
    height: fit-content;
    

    /* transformacion 3d */

}
.section-quienSoy-card--text {
    
    position: relative;
    width: 90%;
    padding: 30px;

}
.section-quienSoy-card--text p {

    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;

}
.section-quienSoy-card--text .card--text_black {

    position: absolute;
    color: var(--section-bg-color-black);
    z-index: 11;
    top: calc(50% - -50px);
    

}


/* Wave inicio */

.bg_color {

    width: 100%;
    height: 29vh;
    background-color: var(--section-bg-color-white);
    position: absolute;
    top: 0;
    z-index: 1;

}
.wave {

    width: 3200px;
    height: 60%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: url("../assets/wave.svg");
    background-position: bottom;
    

}
.wSM {

    width: 100vw;
    height: 300px;

}
.w1 {

    animation: w1 7s linear infinite alternate-reverse ;
}
@keyframes w1 {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1800px;
    }
}
.w2 {
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite ;
    opacity: 0.7;
}
@keyframes w2 {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}
@keyframes desplazamiento {
    0%, 100% {
        transform: translateY(-35px);
    }
    50% {
        transform: translateY(10px);
    }
}


/* Wave final */


.container {

    width: 100%;
    height: fit-content;
    position: relative;
    top: 17vh;
    
}

#engranaje {

    animation: animacionEngranaje 6s infinite alternate-reverse;
    position: absolute;
}

@keyframes animacionEngranaje {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Fin de la segunda seccion */


/* Inicio de la tercera seccion */

.section--skills {

    position: relative;
    width: 100vw;
    min-height: 90.2vh;
    max-height: fit-content;
    background-color: var(--section-bg-color-red);
    z-index: 9;
    padding-bottom: 30px;

}

/* inicio del titulo */

.section-skills--title {

    color: var(--section-bg-color-white);
    font-size: 3.7rem;
    font-weight: 900;
    text-align: center;
    padding: 20px 0px;

}

/* fin del titulo */
.section-skills--image img {

    display: none;

}
/* inicio del target */
.section-skills--target_container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    min-height: 350px;
    background-color: var(--section-bg-color-black);
    margin: 0 auto;
    border-radius: 10px;

    /* efecto de sombra */

    box-shadow: 2px 5px 10px var(--section-bg-color-black);

}

.section-skills--target {

    width:50%;
    min-width: 144px;
    border: 1px solid #000;

}

/* edicion de bordes */

.section-skills--target:first-child {

    border-top-left-radius: 10px;

}
.section-skills--target:nth-child(2) {

    border-top-right-radius: 10px;

}
.section-skills--target:nth-child(5) {

    border-bottom-left-radius: 10px;

}
.section-skills--target:last-child {

    border-bottom-right-radius: 10px;

}

.section-skills--target .target--title {

    width: 100%;
    height: 20%;

}
.section-skills--target .target--title h4 {

    color: var(--section-bg-color-white);
    font-size: 1.6rem;
    text-align: center;
    padding: 5px;
}
.target--logo_container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    


}
.target--logo {
    
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.5);
    width: 140px;
    height: 140px;

}

/* cargar imagenes de los logos de mis skills */

.target--logo_html {

    background-image: url('../assets/html.svg');

}
.target--logo_css {

    background-image: url('../assets/CSS3.svg');

}
.target--logo_bootstrap {

    background-image: url('../assets/bootStrap.svg');

}
.target--logo_javaScript {

    background-image: url('../assets/javaScript.svg');

}
.target--logo_gitHub {

    background-image: url('../assets/gitHub2.svg');
    width: 145px;
    
}
.target--logo_nodeJs {

    background-image: url('../assets/nodeJs.svg');
    height: 160px;

}
.section--estudios {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 90.2vh;
    height: fit-content;
    overflow: hidden;
    z-index: 9;
    

}
.estudios--bg_color {
    
    position: absolute;
    background-image: linear-gradient(120deg, var(--section-bg-color-black) 60%, var(--section-bg-color-red) 100%);
    width: 4500px;
    height: 4500px;
    z-index: -10;
    animation: rotacionBg 4s ease infinite alternate-reverse;
    top: -30vh;

}
.section-estudios--title {

    font-size: 3.7rem;
    font-weight: 900;
    padding: 20px 0px;
    color: var(--section-bg-color-white);

}
.estudios_container {
    
    position: relative;
    width: 90vw;
    height: fit-content;
    padding: 20px;
    margin: 50px 0px;
    border: 1px solid var(--section-bg-color-white);
    border-radius: 10px;
    border-top: none;
    border-top-left-radius: 0px;

}
.estudios--title_container {

    position: absolute;
    top: -6vh;
    left: -1px;
    width: calc(100% - 5px);
    height: fit-content;
    border: 1px solid var(--section-bg-color-white);
    border-radius: 10px;

}
.estudios--imagen img {

    display: none;

}
.estudios--title_container h4 {

    font-size: 2rem;
    font-weight: 700;
    color: var(--section-bg-color-white);
    padding: 10px;
    

}
.estudios--item {

    margin-bottom: 15px;

}
.estudios--item:last-child {

    margin-bottom: 0px;

}

.estudios--item p{

    color: var(--section-bg-color-white);
    font-size: 1.6rem;
    font-weight: lighter;

}
.estudios--item p a {

    text-decoration: none;
    color: var(--section-bg-color-white);

}
.estudios-item--institucion {

    margin-top: 4px;
    margin-left: 5px;

}

/* Inicio de la seccion del portafolio */

.section--portafolio {

    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: var(--section-bg-color-white);

}
.section-portafolio--title {

    position: absolute;
    font-size: 3.7rem;
    font-weight: 900;
    padding: 20px 0px;
    color: var(--section-bg-color-red);
    top: calc(50% - 60px);

}
.section-portafolio--bg2 {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-bg-color-black);
    clip-path: polygon(100% 0, 100% 48%, 100% 100%, 0% 100%, 100% 48%, 0% 0%);
    
}
.section-portafolio--bg1 {

    position: relative;
    width: 100%;
    height: 90.2vh;
    background-color: var(--section-bg-color-white);
    
}
.portafolio--container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    background-color: var(--section-bg-color-black);
    top: -1px;

}
.portafolio--item {

    position: relative;
    width: 80%;
    max-width: 300px;
    height: fit-content;
    min-height: 300px;
    margin-top: 80px;
    background-color: var(--section-bg-color-white);
    border-radius: 10px;

    /* efecto de sombra */

    box-shadow: 5px 10px 10px rgba(245, 245, 245, 0.3);

}
.portafolio--item:last-child {

    margin-bottom: 80px;

}
.portafolio-item--title_container {

    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -25px;
    background-color: var(--section-bg-color-red);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 10px;

}
.portafolio-item--title {

    font-size: 2.7rem;
    font-weight: lighter;
    color: var(--section-bg-color-white);


}
.portafolio-item--imagen_container {

    width: 100%;
    height: 300px;
    border-radius: 10px;
    animation: movimientoImagenPortafolio 15s infinite linear alternate;
    background-repeat: no-repeat;

} 
@keyframes movimientoImagenPortafolio {
    
    0% {
        background-position: top left;
    } 30% {
        background-position: bottom right;
    }
    60% {
        background-position: top right;
    }
    80% {
        background-position: bottom left;
    }
    100% {
        background-position: top left;
    }

}
.portafolio-item--button_container {

    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    
}
.portafolio-item--button {

    padding: 5px 40px;
    border: none;
    background-color: var(--section-bg-color-red);
    cursor: pointer;

    /* bordes */

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* fuente */

    font-size: 1.6rem;
    font-weight: 700;
    color: var(--section-bg-color-white);
    

}
/* Fin del la seccion del portafolio */


/* fin de target */



/* Fin del main */

/* Inicio del footer */

footer {

    position: relative;
    width: 100vw;
    height: 100px;
    overflow: hidden;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid var(--section-bg-color-white);

    

}
.footer--bg {

    position: absolute;
    background-image: linear-gradient(120deg, var(--section-bg-color-black) 60%, var(--section-bg-color-red) 100%);
    width: 4500px;
    height: 4500px;
    z-index: -10;
    animation: rotacionBg 4s ease infinite alternate-reverse;
    top: -300vh;
    left: -100vw;


}
.redes--item img {

    position: relative;
    width: 25px;
    
}
.redes--item {

    position: relative;
    margin: 10px 7px;
    
}

.footer--contact {

    position: relative;
    width: 100%;


}
.footer-contact--redes_container {

    display: flex;
    margin: 0 auto;
    width: fit-content;
    
}
.redes--title {

    font-size: 1.6rem;
    font-weight: lighter;
    color: var(--section-bg-color-white);
    text-align: center;

}
.desarrollo--title {

    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--section-bg-color-white);
    text-align: center;

}

.ventanaFlotante__container {

    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: var(--section-bg-color-red);
    position: fixed;
    z-index: 102;
    opacity: 1;
    min-height: 586px;

}

.ventanaFlotante__cierre {

    position: absolute;
    right: 10px;
    color: var(--section-bg-color-black);
    font-weight: bolder;
    font-size: 2.4rem;
    cursor: pointer;

}
.ventanaFlotante__cierre:hover {

    transform: translateY(-3px);

}
.ventanaFlotante__right {

    width: 100%;
    height: 40%;

}
.ventanaFlotante__left {

    width: 100%;

}

.ventanaFlotante__bg {

    position: relative;
    width: 100%;
    height: 100%;
    background-size: 200%;
    background-repeat: no-repeat;
    z-index: -1;
    animation: movimientoImagenPortafolio 10s infinite linear alternate;

}
.ventanaFlotante__title {

    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--section-bg-color-white);
    margin: 10px 0px;

}
.ventanaFlotante__descript {

    font-size: 1.6rem;
    color: var(--section-bg-color-white);
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin: 0 auto;


}
.ventanaFlotante__container-button {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    width: 100%;
    height: fit-content;
    

}
.button--visita {

    background-color: var(--section-bg-color-white);
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--section-bg-color-black);
    padding: 5px 20px;
    border: 2px solid var(--section-bg-color-black);
    border-radius: 5px;
    cursor: pointer;

}
.button--visita:hover {

    transform: translateY(-3px);

}

/* Fin del footer */
/* Media queris */

@media (max-height: 510px) {
    .bg_color {
        top: 12vh;
    }
} 